* {
    margin : 0;
    padding: 0;
}

/* 복합 선택자 */
/* 1. 자손 선택자 */
/* section안의 모든 ul (ul 밑의 ul 도 */
section, ul {
    margin: 10px 0;
}

/* 2. 자식 선택자 */
/* 바로 밑의 애들만 */
/* > 활용 */
section > ul > li {
    font-size : 20px;
    font-weight: bold;
}

/* 3. 형제 선택자 */
/* + */
/* a의 형제 요소 중 a 바로 뒤에 오는 ul */
a + ul {
    background-color: gold;
}
/* ~ */
/* a의 형제 요소 중 a 뒤에 오는 모든 ul */
a ~ ul {
    border : 1px solid darkgray;
}


/* 속성 선택자 */
/* class라는 속성을 가진 ul의 자손 중 모든 li*/
ul[class] li {
    width: 24%;
    height: 50px;
    display: inline-block;
}

/* target 속성을 가지며, 그 값이 _self 인 a */
a[target="_self"] {
    border: 1px solid darkgray;
    border-radius : 5px;
    background-color: white;
    padding: 5px;
}

/* 
    1. [속성="값"]
    2. [속성~="값"] : alt="바다 사진"/ [alt~="바다"]  - 공백 기준 잘라서 해당 단어가 들어있으면 pick
    3. [속성|="값"] : alt="바다-사진"/ [alt|="바다"]  - '바다' 를 찾거나 '바다-' 찾거나
    4. [속성^="값"] : alt="apple banana" / [alt^="app"] -  해당 단어로 시작하는 걸 찾음
    5. [속성$="값"] : href="ssafy.com/istj" / [href$="istj"] - 해당 단어로 끝나는 걸 pick
    6. [속성*="값"] : alt="미세먼지싫어" / [alt*="세먼지"] - 해당 단어 있기만 하면 pick